In [0]:
from pyspark.sql.functions import *
from pyspark.sql import *
from pyspark.sql.types import IntegerType, StringType, StructField, StructType

In [0]:
data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17)]

mySchema = StructType([StructField("id",IntegerType(),True),
                       StructField("name",StringType(),True),
                       StructField("sal",IntegerType(),True),
                       StructField("mngr_id",IntegerType(),True)])

df = spark.createDataFrame(data,mySchema)
df.show()

# Create another Dataframe

data1=[(19 ,'Sohan',50000, 18),
(18 ,'Sam',65000,   17),
(20 ,'Sima',75000,  17)]

df1 = spark.createDataFrame(data1,mySchema)
df1.show()

Lets Apply UNION

In [0]:
df.union(df1).show()
df.unionAll(df1).count()

Lets Apply UNION_ALL

In [0]:
df.unionAll(df1).show()
df.unionAll(df1).count()

FROM ABOVE , we can see UNION and UNION_ALL are same PySpark - EVEN DUPLICATE RECORD also got unioned

Lets Try UNION and UNION_ALL in Spark SQL  
For that convert both df in table

In [0]:
df.createOrReplaceTempView("table1")
df1.createOrReplaceTempView("table2")

In [0]:
%sql
SELECT * FROM table1;

In [0]:
%sql

SELECT * FROM table2;

While Doing Union in sql Duplicate Record Gets Removed

In [0]:
# union()

spark.sql("""
          SELECT * FROM table1
          UNION 
          SELECT * FROM table2
          """).show()

# No. Of Records 

spark.sql("""
          SELECT * FROM table1
          UNION 
          SELECT * FROM table2
          """).count()

In UNION ALL, it Do not Removes Duplicate records Even In SQL Or SPARK SQL

In [0]:
# union all()

spark.sql("""
          SELECT * FROM table1
          UNION ALL 
          SELECT * FROM table2
          """).show()

# No. Of Records 

spark.sql("""
          SELECT * FROM table1
          UNION ALL
          SELECT * FROM table2
          """).count()

What Will Happen it the order Of Column or Schema Of 2 df is different which will about to be union

In [0]:
wrong_column_data=[(19 ,50000, 18,'Sohan'),
(20 ,75000,  17,'Sima')]

wrong_schema = "id int,sal int,mngr_id int,name string"

df3 = spark.createDataFrame(wrong_column_data,wrong_schema)
df3.show()
df3.printSchema()

# df Data
df1.show()

In [0]:
df1.union(df3).show()

We can resolve above issue using "unionByName"  
"UnionByName" Only Works in case Of Change in Order of Columns but Columns Should be same

In [0]:
df1.unionByName(df3).show()

If we try to union 2 dataframe with different schema, we will Get Error

In [0]:
wrong_column_data2=[(19 ,50000, 18,'Sohan',99),
(20 ,75000,  17,'Sima',99)]

wrong_schema2 = "id int,sal int,mngr_id int,name string, house_id int"

df4 = spark.createDataFrame(wrong_column_data2,wrong_schema2)
df4.show()
df4.printSchema()

# df Data
df1.show()
df1.printSchema()

In [0]:
df1.unionByName(df4).show()

In [0]:
df1.union(df4).shwo()