In [0]:
from pyspark.sql.functions import *
from pyspark.sql import *

In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

In [0]:
data = [(1,"A",12),
        (2,"B",None),
        (3,None,None),
        (None,"D",11),
        (None,None,None)]

mySchema = StructType([StructField("ID",IntegerType(),True),
                       StructField("Name",StringType(),True),
                       StructField("Age",IntegerType(),True),])

df = spark.createDataFrame(data,mySchema)
df.show()

In [0]:
df.printSchema()

### Filling 'Null' from value = 0 (Zero)
- Only integer type Column Value can be raplaced with 0, String Type Column will still be null

In [0]:
df.na.fill(value=0).show()
df.na.fill(0).show()
df.fillna(0)
df.show()

### Replacing String Type Column Value NULL with Empty String

In [0]:
df.fillna("").show()

### Replacing String Type NULL value with Empty String and Integer Type String Value with 0 (Zero)

In [0]:
df.fillna(0).fillna("").show()

### Replacing The Null Value Of only Age Column with 0 (zero)

In [0]:
df.fillna(0,['Age']).show()

### Replacing The Vaule NULL Of More 1 Column (ONLY SELECTIVE COLUMNS)

In [0]:
df.fillna(0,['Age','ID']).show()

### Filling The Null Value Of Seprate Column with seperate Values

In [0]:
df.fillna({'ID':100,'name':'AAA','Age':0}).show()

### Removing the record when All  values are Null

In [0]:
df.dropna('all').show()

OR

In [0]:
df.dropna(how='all').show()

### Drop the Record when Any Column is Null

In [0]:
df.dropna('any').show()
# Other Way
df.dropna(how='any').show()

### Droping the Element When some Column is null

In [0]:
df.dropna(how='all',subset=['Name']).show()
# OR
df.dropna(subset=['Name']).show()

### Droping When multiple column is NULL

In [0]:
df.dropna(how='all',subset=['id','name']).show()

# OR

df.dropna(subset=['id','name']).show()

### Drop all the record , except WHO HAVE ATLEAST 1 NON-NULL VALUE

In [0]:
df.dropna(thresh=1).show()

### Drop all the record , except WHO HAVE ATLEAST 2 NON-NULL VALUE

In [0]:
df.dropna(thresh = 2).show()

# Handling Duplicates

In [0]:

# Sample data with duplicates
data = [
    (1, "A", "X", 100),   # unique
    (2, "A", "X", 100),   # duplicate on col2, col3, col4
    (3, "B", "Y", 200),   # unique
    (3, "B", "Y", 200),   # duplicate on all columns
    (4, "C", "Z", 300),   # unique
    (4, "C", "Z", 400),   # duplicate on col1, col2, col3
    (5, "D", "W", 500),   # unique
    (6, "D", "W", 500),   # duplicate on col2, col3, col4
    (7, "E", "V", 600),   # unique
    (7, "E", "V", 600)    # duplicate on all columns
]

# Column names
columns = ["id", "category", "type", "amount"]

# Create DataFrame
df = spark.createDataFrame(data, columns)

# Show DataFrame
df.show()

- Deleting Duplicates when Whole Record is Duplicate

In [0]:
df.distinct().show()

In [0]:
df.drop_duplicates().show()

- Droping Duplicates on basis Of Single Column (id)

In [0]:
# df.distinct('id').show()
# Distinct cannot take argument and should use Select with it

In [0]:
df.drop_duplicates(['id']).show()

In [0]:
df.select('id','category').distinct().show()

-