In [0]:
from pyspark.sql.functions import *
from pyspark.sql import *

In [0]:
emp_data = [
    (1,'manish', 50000,'IT','m'),
    (2,'vikash', 60000,'sales','m'),
    (3,'raushan',70000,'marketing','m'),
    (4,'mukesh',80000,'IT','m'),
    (5,'priti', 90000,'sales','f'),
    (6,'nikita',45000,'marketing','f'),
    (7,'ragini',55000,'marketing','f'),
    (8,'rashi',100000,'IT','f'),
    (9,'aditya',65000,'IT','m'),
    (10,'rahul',50000,'marketing','m'),
    (11,'rakhi',50000,'IT','f'),
    (12,'akhilesh',90000,'sales','m')
]

mySchema = ["id","name","salary","department","gender"]

df = spark.createDataFrame(emp_data,mySchema)
df.show()

Q1 : Give Top 2 Salary Of Each Department

- We Are not Using Rank and Dense Rank , becoz when we filter top 2 salary at that time if top salary having more the 1 people all top will get same rank, which will lead more than 2 record coming out from that condition but we want ONLY TOP 2 reocrd from each department

In [0]:
from pyspark.sql.window import Window

window_spec = Window.partitionBy("department").orderBy(desc("salary"))

top2_salary = df.withColumn("Rank",row_number().over(window_spec)).filter(col("Rank") <= 2)

top2_salary.show()